{% extends "entity_layout.html" %}
{% block title %}Computer Science{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
	<div class="header">
		<h3>Major</h3>
		<h1>{{ rows[0][1] }}</h1>
	</div>
	<div class="section">
		{% for i in range(2, column_names|length) %}
        <b>{{ column_names[i] }}</b>: {{ rows[0][i] }} <br>
   		{% endfor %}
	</div>
	<div class="section">
		<h2>Careers</h2>
		{% for item in ["Software Developer", "UX Engineer", "Product Manager", "Project Manager", "Software Engineer", "Full-stack Developer"] %}
        {{ item }} <br>
   		{% endfor %}
	</div>
	<div class="section">
		<h2>Universities</h2>
		{% for item in [["../universities/1", "University of California, Berkeley"],["wwww.google.com",  "Stanford University"]] %}
        <a href="{{ item[0] }} ">{{ item[1] }}</a><br>
   		{% endfor %}
	</div>
{% endblock %}